* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html{

}

#game{
  margin: 10px auto;
  width: 70vw;
  font-size: 5vw;
}

.number {
  display: inline-block;
  width: 9vw;
  height: 9vw;
  line-height: 9vw;
  outline: 1px solid black;
  text-align: center;
  margin: 1vw;
  /*padding-top: ;*/
}

.number.selected{
  background-color: red;
}

#results{
  width: 99vw;
  height: 5vw;
  text-align: center;
  font-size: 3vw;
}

#clear{
  width: 200px;
  height: 100px;
  margin: 10px auto;
}